body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(#e78484, #def5f5);
  height: 100vh;
  user-select: none;
}
.center,
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  align-items: center;
  transform: translate(-50%, -50%);
}
.center,
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  border-radius: 20px;
  margin-left: 145px;
  border: 1px solid #d92054;
  background-color: #d92054;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 40px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}
.click-me {
  display: block;
  width: 160px;
  height: 50px;
  background: #27ae60;
  border: 1px solid #26a65b;
  color: white;
  text-align: center;
  font-size: 22px;
  line-height: 50px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.5s;
}
.click-me:hover {
  background: linear-gradient(to right, #1e3535, #0c8cac);
}
.content {
  width: 400px;
  height: 350px;
  background: white;
  border-radius: 3px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.4);
  transition: 0.3s ease-in;
}

.header {
  height: 68px;
  background: linear-gradient(to right, #8f1b42, #e32056);
  overflow: hidden;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.4);
}
.header h2 {
  color: white;
  padding-left: 32px;
  font-weight: normal;
}
.fa-times {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #e8f7fc;
  font-weight: bold;
  cursor: pointer;
}

p {
  padding: 10px;
  font-size: 19px;
  color: #1a1a1a;
  text-align: center;
}

.fa-heart {
  color: rgb(172, 39, 22);
  height: 40px;
}
.tick {
  margin-top: 15px;
  height: 150px;
  width: 150px;
  margin-left: 140px;
}
